@import url('https://fonts.googleapis.com/css2?family=Sarabun&family=Signika&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: #7BDAF3;
    margin:0%
}


.btnGroup{
    display: flex;
    flex-direction: column;
}

.noteIcon{
    height : 7rem;
    width : 11rem;
    background-color:#D5F3FE;
    border : 1px solid #D5F3FE;
    font-size: 3.5rem;
    color: #ADD8E6;
    border-radius : 20px;
    margin: 0rem 2rem;
    cursor: pointer;
}

.noteLabel{
    text-align: center;
    color : #0C2D48;
    margin-top: 7px;
    font-size: 1rem;
    font-family: inherit;
}

.newNote{
    height : 7rem;
    width : 11rem;
    background-color: transparent;
    border: 2px dashed #D5F3FE;
    border-radius : 20px;
    color : #D5F3FE;
    font-size: 3rem;
    margin: 0px 10px;
    cursor: pointer;
}

.homeContainer{
    margin : 0rem 9rem;
    padding : 5rem;
    display : flex;
    align-items: center;
    position: absolute;
}

/* STYLES FOR MAIN NOTE ANF IT'S CONTENT */
#note-container{
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: relative;
    z-index: 10;
}


.note{
    background-color: #ECFAF5;
    width: 500px;
    height: 450px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note .header{
    display: flex;
    justify-content: space-between;
}

.title input{
    outline: none;
    background-color: #ECFAF5;
    border: none;
    height: 100%;
    font-size: 1.3rem;
    font-family: inherit;
    color: #0C2D48;
    font-weight: bold;
}

.editNote,.deleteNote,.closeNote{
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: #a2ce66;
    margin-left : 1rem;
    cursor: pointer;
}
.deleteNote{
    color: rgb(216, 117, 117);
}
.closeNote{
    color: #757575;
}

.controls button:hover{
    transform: translateY(-2px);
}

.note .main{
    height: 100%;
    width : 100%;
}

.main textarea{
    outline: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    color: #8c8d8d;
    height: 100%;
    width : 100%;
    padding : 2.5rem;
    resize: none;
}

.saveNote{
    width: auto;
    display : flex;
    justify-content: center;
}

.saveNote button{
    width: 9rem;
    height : 3.5rem;
    border : none;
    font-family: inherit;
    font-weight : bold;
    background-color: #9EC862;
    color: #ECFAF5;
    border-radius: 40px;
    font-size: 1.5rem;
    cursor: pointer;
}
