@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer{
    border : 1px solid black;
    height: 300px;
    width: 650px;
    position: relative;
}

.startGame{
    position: absolute;
    top : 25px;
    left : 290px;
    cursor : pointer;
}

.character {
    background-image: url('https://e7.pngegg.com/pngimages/39/802/png-clipart-gray-dinosaur-illustration-tyrannosaurus-t-shirt-dino-t-rex-runner-2-lonely-t-rex-run-2-google-chrome-8-bit-game-angle-thumbnail.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height : 80px;
    width: 50px;
    position: absolute;
    /* top : 179px; */
    top : 218px;
}

.animateCharacter{
    animation : jump 400ms
}

@keyframes jump{
    0%{ top : 218px;}
    50% { top : 118px;}
    100%{top : 218px;}
}

.obstacle {
    background-image : url('https://www.programmersought.com/images/833/16f85b4c4357f69cac435e4974db7561.png');
    background-size: contain;
    height : 40px;
    width: 40px;
    position : absolute;
    top : 258px;
    /* left : 50px; */
    left : 609px
}

.animateBlock{
    animation: block 650ms infinite linear;
}

@keyframes block {
    0% { left : 618px;}
    100% { left: -50px}
}

